<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <h1>Invoice Totals for the last 12 Months</h1>
          <h2>Customers</h2>
          <table>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <% for(var i=0; i < customers.length; i++) { %>
               <tr>
                 <td><%= customers[i].name %></td>
                 <td><%= currencyFormatter(customers[i].total) %></td>
               </tr>
            <% } %>
          </table>
          <h2>Suppliers</h2>
          <table>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <% for(var i=0; i < suppliers.length; i++) { %>
               <tr>
                 <td><%= suppliers[i].name %></td>
                 <td><%= currencyFormatter(suppliers[i].total) %></td>
               </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
